.u-btn {
  /*display: inline-block;*/
  display: table;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  border: 0 none transparent;
  outline-width: 0;
  background-color: transparent;
  margin: 0;
  -webkit-text-decoration-skip: objects;
  font-style: initial;
  white-space: nowrap;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  border-radius: 0;
  align-self: flex-start;
}
.u-body {
  color: #111111;
  background-color: #ffffff;
  --effect-scale: 1.1;color: white !important;
}
.u-custom-font.u-text-font {
  font-family: 'Open Sans',sans-serif !important;color: white !important;
}
.u-custom-font.u-heading-font {
  font-family: Roboto,sans-serif !important;color: white !important;
}
.u-none.u-button-style,
.u-none.u-button-style:hover,
.u-none.u-button-style:focus,
.u-none.u-button-style:active,
.u-none.u-button-style.active,
.u-button-style.u-hover-none:hover,
.u-button-style.u-hover-none:focus,
.u-button-style.u-active-none:active,
.u-button-style.u-active-none.active,
li.active > .u-button-style.u-active-none {
  color: white !important;
  background-color: transparent !important;
}
.u-button-style.u-border-none,
.u-button-style.u-border-hover-none:hover,
.u-button-style.u-border-hover-none:focus,
.u-button-style.u-border-active-none:active,
.u-button-style.u-border-active-none.active,
li.active > .u-button-style.u-border-active-none {
  border-color: transparent !important;
  border-width: 0;
}
.u-button-style.u-text-none,
.u-button-style.u-text-none:hover,
.u-button-style.u-text-none:focus,
.u-button-style.u-text-none:active,
.u-button-style.u-text-none.active,
.u-button-style.u-text-hover-none:hover,
.u-button-style.u-text-hover-none:focus,
.u-button-style.u-text-active-none:active,
.u-button-style.u-text-active-none.active,
li.active > .u-button-style.u-text-active-none {
  color: white !important;
}
.u-cent {
  text-align: center !important;
      margin-left: auto;
    margin-right: auto;
}
.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}
.u-clearfix:after {
  clear: both;
}
img.u-image,
.u-video-poster {
  overflow: hidden;
}
.u-back-image.u-image-contain,
.u-image.u-image-contain {
  object-fit: contain;
  background-size: contain;
}
.u-back-image.u-image-tiles,
.u-image.u-image-tiles {
  background-size: initial;
  background-repeat: repeat;
  background-position: top left !important;
}
section.u-image:not(.u-hover-box),
.u-sheet.u-image:not(.u-hover-box),
.u-group.u-image:not(.u-hover-box),
.u-layout-cell.u-image:not(.u-hover-box) {
  overflow: visible;
}
.u-text .u-image {
  display: inline-block;
}
.u-post-content .u-image {
  margin-bottom: 0.5rem;
}
.u-image-circle.u-image {
  border-radius: 50% !important;
}
.u-image-square {
  border-radius: 0;
}
.u-image.u-logo {
  display: table;
  white-space: nowrap;
}
.u-image.u-logo img {
  display: block;
}
.u-image,
.u-background-effect-image,
.u-video-poster {
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.u-body .u-sheet .u-sheet {
  width: 100% !important;
}
.u-align-center {
  text-align: center;
}
@media (min-width: 1400px) {
  .u-align-center-xxl {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-align-center-xl {
    text-align: center;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-align-center-xl {
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-align-center-lg {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-align-center-md {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-align-center-sm {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .u-align-center-xs {
    text-align: center !important;
  }
}
